<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Dubli.com Application Test Automation Test Suite">

	<test name="Dubli App Test Cases">
		<classes>
			<class name="com.dubli.qa.testcases.LoginPageTest"></class>
		</classes>
	</test>
</suite>